html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #0A1128;
}
body {
    margin: 0;
}
.content {
    padding: 10px;
}
.top-grid {
    min-width: 100vw ;
    margin: 0 auto;
    margin-bottom: 10px;
    width: calc(100vw-4rem)
    
}
.top-card {
    min-width: calc(100vw-4rem) ;
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
   
    /* Styling the border */
    border: 2px solid #ccc;
    border-radius: 10px;
}
.card-grid {

    margin-bottom: 10px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    flex-flow: row nowrap;
    grid-gap: 2rem;
    width: 100vw;
    gap: 10px;
    
}
.card {
    min-width: calc(96%) ;
    height: 400px;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
   
    /* Styling the border */
    border: 2px solid #ccc;
    border-radius: 10px;
}
button {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.onButton{
    background-color: #1b8a94;
}

.offButton{
    background-color: #5f6c6d;
}

.connectButton{
    background-color: #24af37;
}

.disconnectButton{
    background-color: #d13a30;
}

.gray-label { 
    color: #bebebe; 
    font-size: 1rem; 
    text-align: left;
}

.reading { 
    font-size: 2.4rem;
    text-align: left;
}
