html {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-align: center;
}
h1 {
    font-size: 1.8rem;
    color: white;
}
.topnav {
    overflow: hidden;
    background-color: #0A1128;
}
body {
    margin: 0;
}
.content {
    padding: 10px;
}
.top-grid {
    
    margin: 0 auto;
    margin-bottom: 5px;
    width: calc(100vw-4rem);
    
  
}
.top-card {
   
    height: 200px;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    margin-bottom: 10px;
    
    
   
    /* Styling the border */
    border: 2px solid #ccc;
    border-radius: 10px;
}
.card-grid {

    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;
    flex-flow: row nowrap;
    grid-gap: 5px;
    max-width: calc(100vm -4rem);
    gap: 5px;
    
}
.card {
    min-width: calc(96%) ;
    height: 400px;
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
   
    /* Styling the border */
    border: 2px solid #ccc;
    border-radius: 10px;
}
button {
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.onButton{
    background-color: #1b8a94;
    margin-top: 0;
    margin-bottom: 0;
    
    font-size: 1.2rem
}

.offButton{
    background-color: #5f6c6d;
}

.connectButton{
    background-color: #24af37;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.2rem
    
}

.disconnectButton{
    background-color: #d13a30;
}

.gray-label { 
    color: #787777; 
    font-size: 1rem; 
    text-align: center;
}

.date-label { 
    color: #787777; 
    font-size: 1.2rem; 
    text-align:10px;
}

.reading { 
    font-size: 1.5rem;
    text-align: left;
}

.green {
    background-image: -webkit-linear-gradient(top, #13fB04 0%, #58e343 50%, #ADED99 100%);
}

.orange {
    background-image: -webkit-linear-gradient(top, #f9a004 0%, #e0ac45 50%, #ead698 100%);
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    
}


.red {
    background-image: -webkit-linear-gradient(top, #fb1304 0%, #e35843 50%, #edad99 100%);
}


.led {
    border-radius: 2px;
    width: 5px;
    height: 5px;
    box-shadow: 0px 0px 1px black;
    margin: 5px;
    zoom: 4;

    margin-top: 0;
    margin-bottom: 0;

}
.Indicatorled {
    border-radius: 2px;
    width: 5px;
    height: 5px;
    box-shadow: 0px 0px 1px black;
    margin: 2px;
    zoom: 4;

    margin-top: 0;
    margin-bottom: 0;

}
.led-blue {
  margin: 3px;    
  width: 24px;
  height: 24px;
  background-color: #24E0FF;box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
  border-radius: 50%;
}
.led-yellow {
  margin: 3px;    
  width: 24px;
  height: 24px;
  background-color: #ffff24;box-shadow: rgba(249, 190, 14, 0.622) 0 -1px 7px 1px, inset rgba(102, 80, 0, 0.594) 0 -1px 9px, #3F8CFF 0 2px 14px;
  border-radius: 50%;
}
.led-white {
  margin: 3px;    
  width: 24px;
  height: 24px;
  background-color: #fafaf9;box-shadow: rgba(72, 71, 71, 0.622) 0 -1px 6px 1px, inset rgba(247, 247, 246, 0.843) 0 -1px 9px, #3fe9ff 0 2px 10px;
  border-radius: 50%;
}
.led-off {
  
  margin: 3px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  
  background-color: rgb(197, 197, 197); box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px
  
}